footer {
  background-color: #ffd57f;
  color: #001635;
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0;
}

footer > h4 {
  margin-bottom: 5px;
}

footer .social-icon {
  color: #001635;
  text-decoration: none;
  padding: 0 15px;
}
