form {
  display: flex;
  flex-direction: column;
}

form > button {
  width: 100%;
  cursor: pointer;
  background-color: #ffd57f;
  color: #001635;
  border: none;
  padding: 10px 0;
  justify-self: flex-end;
  align-self: flex-end;
}

.form h3 {
  margin-left: 15px;
  font-size: 20px;
}
