.note {
  background-color: white;
  color: #001635;
  margin: 10px;
  padding: 5px 10px 10px;
  text-align: left;
  border-radius: 6px;
}

.note-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.note-heading aside {
  background-color: white;
  margin: 0 7px;
}

.note-heading button {
  background: none;
  border: none;
}
