* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.App {
  text-align: center;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  overflow: scroll;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: aurea-ultra, serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 90px;
  padding: 0 20px;
  color: #ffd57f;
}

.selected-post {
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 78vh;
}

.selected-post > .post {
  margin: 20px;
}

.selected-post > .post > h3 {
  margin-top: 10px;
  color: #ffd57f;
  font-size: 30px;
}

.selected-post > .post > h4 {
  margin-bottom: 20px;
  font-size: 22px;
}

.post aside button.selected,
.note-heading button.selected {
  color: #001635;
}

button {
  opacity: 1;
}

button:hover {
  opacity: 0.9;
}

header {
  height: 15vh;
}

footer {
  height: 7vh;
}

/* responsive css */
@media screen and (max-width: 767px) {
  header {
    flex-direction: column;
    height: 20vh;
    align-items: center;
  }
  nav {
    align-items: center;
  }
  footer {
    position: inherit;
  }
}
